#include <stdio.h>
#include <stdlib.h>
#define pi 3.14
#define R 0.82
int main()
{
  float radius,dairecevre,dairealan;
  printf("Dairenin yaricapini girin:\");
  scanf("%f",&radius);
  dairecevre=2*pi*radius;
  dairealan=pi*radius*radius;
  printf("Dairenin cevresi:%f\n",dairecevre);
  printf("Dairenin alani:%f\n",dairealan);
  

